<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="../scripts/CanPlayMulti.js"></script>
    <ul>

        <li><a class="active" href="Homepage.html">Maze</a></li>
        <li><a href="SinglePlayerPage.html">Single player</a></li>
        <li><a  onclick="isLogin()" >Multiplayer</a></li>
        <li><a href="UserRanking.html">User Rankings</a></li>
        <li><a href="SettingsPage.html">Settings</a></li>
        <li><a href="LoginPage.html">Login</a></li>
        <li><a href="RegistrationPage.html">Register</a></li>
        

    </ul>
</body>
</html>