<!DOCTYPE html>
<html>
<head>
    <title>The Maze</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/mystyle.css">
</head>

<body>
    <div id="navigationDiv"></div>
    <div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">

        <!--<form>-->

        <div class="container body-content">
            <h2>Multiplayer Game</h2><hr />
            <div class="col-sm-4 form-horizontal">
                <div class="form-group">
                    <label for="mazeName" class="col-sm-2 control-label">Games</label>
                    <div class="col-sm-10">
                        <select id="gamesSelect" name="games">
                            <!--<option value="0">BFS</option>
                            <option value="1">DFS</option>-->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rows" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" id="btnJoin" class="btn btn-default">Join Game</button>
                    </div>
                </div>
                <h3>Start New Game</h3>
                <div class="form-group">
                    <label for="rows" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="rows" class="col-sm-2 control-label">Rows</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="rows" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="rows" class="col-sm-2 control-label">Cols</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cols" />
                        <br />
                        <button type="submit" id="btnStart" class="btn btn-default">Start Game</button>
                    </div>
                </div>




            </div>
            <div class="col-sm-4 text-center">
                <label for="cols">Your Board</label>
                <canvas class="playerCanvases" id="playerCanvas" width="300" height="300" style="border:2px black
                                solid"></canvas>
                <img class="waitingImages" src="resources/waiting.gif" hidden="hidden" height="300" width="300" />
                <img id="playerImage" src="resources/player.png" hidden="hidden" />
                <img id="goalImage" src="resources/goal.png" hidden="hidden"  />
            </div>

            <div class="col-sm-4 text-center">
                <label for="cols">Other Player Board</label>
                <img class="waitingImages" src="resources/waiting.gif"  hidden="hidden"  height="300" width="300" />
                <canvas class="playerCanvases" id="otherCanvas" width="300" height="300" style="border:2px black
                                solid"></canvas>
            </div>

        </div>
    </div>

    <script src="../Scripts/jquery-3.1.1.js"></script>
    <script src="../Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="../Scripts/jQuery.mazePlugin.js"></script>
    <script src="../signalr/hubs"></script>
    <!-- Reference the autogenerated SignalR hub script -->

    <script>
        $('#navigationDiv').load("menuBar.html");
        //$(document).ready(function () {
        //    $('#waitingImage').hide();
        //});
        //$('#waitingImage').hide();

        var myMazeBoard, otherMazeBoard;
        var multiPlayer = $.connection.mazeHub;

        var notifyOtherFunc = function (direction,oldRow,oldCol) {
            multiPlayer.server.play(direction,oldRow,oldCol);

        }
        // Create a function that the hub can call to broadcast messages
        multiPlayer.client.drawMazes = function (mazeFeedback) {

            $('.playerCanvases').show();
            //$('.waitingImages').hide();
            $('.waitingImages').fadeOut("slow", function () { });
            //alert('Starting to draw the mazes');
            maze = { "Name": mazeFeedback.Name, "Maze": mazeFeedback.Maze, "Rows": mazeFeedback.Rows, "Cols": mazeFeedback.Cols, "Start": mazeFeedback.Start, "Goal": mazeFeedback.End }
            playerImage = document.getElementById("playerImage");
            exitImage = document.getElementById("goalImage");
            this.otherMazeBoard = $('#otherCanvas').mazePlugin(maze, playerImage, exitImage, false);
            this.myMazeBoard = $('#playerCanvas').mazePlugin(maze, playerImage, exitImage, true, notifyOtherFunc);


        };

        multiPlayer.client.otherMoving = function (direction,oldRow,oldCol) {
            //this.otherMazeBoard.moveByString(direction);
            this.otherMazeBoard.moveOther(direction, oldRow, oldCol);
        };

        // Start the connection
        $.connection.hub.start().done(function () {
           
            $('#btnStart').click(function () {
                $('.playerCanvases').hide();
                $('.waitingImages').show();
                var gameName = $('#name').val();
                var mazeRows = $('#rows').val();
                var mazeCols = $('#cols').val();

                // Call the Send method on the hub
                multiPlayer.server.start(gameName, mazeRows, mazeCols);

                //Show something that indicate we are waiting to other player...
            });

            $('#btnJoin').click(function () {
                $('.playerCanvases').hide();
                $('.waitingImages').show();
                var gameName = $('#gamesSelect').val();
                // Call the Send method on the hub
                multiPlayer.server.join(gameName);

                //Show something that indicate we are waiting to other player...
            });

            // Call the Send method on the hub
            multiPlayer.server.list().done(function (result) {
                if (result) {

                    $.each(result, function (i, item) {
                        $('#gamesSelect').append($('<option>', {
                            value: item,
                            text: item
                        }));
                    });

                }
            });


        });





    </script>
</body>
</html>