<!DOCTYPE html>
<html>
<head>
    <title id="titleOfPage">New Multiplayer game</title>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../CSS/mystyle.css">
    <link rel="stylesheet" type="text/css" href="../CSS/mystyle.css">
</head>

<body>
    <div id="navigationDiv"></div>
    <div class="mainDiv">
        <script src="../Scripts/jquery-3.1.1.js"></script>
        <script src="../Scripts/jquery.signalR-2.2.2.js"></script>
        <script src="../Scripts/jQuery.mazePlugin.js"></script>
        <script src="../signalr/hubs"></script>
        <script src="../Scripts/Navbar.js"></script>

        <!--<form>-->

        <div class="container body-content" >
            <h2>Multiplayer Game</h2><hr />
            <div class="col-sm-4 form-horizontal">
                <div class="form-group">
                    <label for="mazeName" class="col-sm-2 control-label">Games</label>
                    <div class="col-sm-10">
                        <select id="gamesSelect" name="games">

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rows" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" id="btnJoin" class="btn btn-default">Join Game</button>
                    </div>
                </div>
                <h3>Start New Game</h3>
                <div class="form-group">
                    <label for="rows" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="rows" class="col-sm-2 control-label">Rows</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="rows" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="rows" class="col-sm-2 control-label">Cols</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cols" />
                        <br />
                        <button type="submit" id="btnStart" class="btn btn-default">Start Game</button>
                    </div>
                </div>




            </div>
            <img  class="waitingImages" src="resources/waiting11.png" hidden="hidden"/>
            <div class="col-sm-4 text-center">
                <label class="showWithConnection" for="cols" hidden="hidden"  >Your Board</label>
                <img class="waitingImages" src="resources/waiting.gif" hidden="hidden" height="400" width="500"  />
                <canvas class="showWithConnection" id="playerCanvas" width="350" height="350" style="border:2px solid black;" hidden="hidden" ></canvas>
                <img id="playerImage" src="resources/player.png" hidden="hidden" />
                <img id="goalImage" src="resources/goal.png" hidden="hidden"  />
            </div>

            <div class="col-sm-4 text-center">
                <label class="showWithConnection" for="cols" hidden="hidden" >Other Player Board</label>
                <canvas class="showWithConnection" id="otherCanvas" width="350" height="350" 
                               style="border:2px solid black;" hidden="hidden" ></canvas>
            </div>

        </div>
    </div>
    <script src="../Scripts/Multiplayer.js"></script>

</body>
</html>