<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Signup Form</h2>

    <form style="border:1px solid #ccc" class="pure-form">
        <div class="container">
            <label><b>User Name</b></label>
            <input type="text" placeholder="Enter User Name" id="USERNAME" name="userName" required>

            <label><b>Email</b></label>
            <input type="email" placeholder="Enter Email" id="EMAIL" name="email" required>

            <!--<label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="PASSWORD" name="psw" required>

            <label><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" id="REPEATPASSWORD" name="psw-repeat" required>-->

            <label><b>Password</b></label>
            <input type="password" placeholder="Password" id="password" required>
            <label><b>Repeat Password</b></label>
            <input type="password" placeholder="Confirm Password" id="confirm_password" required>


            <div class="clearfix">
                <button id ="signupBtn" onclick="addUser()" type="submit" class="signupbtn" style="margin-left: 500px">Sign Up</button>
            </div>

        </div>
        <script src="../Scripts/jquery-3.1.1.js"></script>
        <script src="../Scripts/jQuery.mazePlugin.js"></script>
        <script>

            function addUser() {
                var usersUri = "../api/UserDetailsModels/";
                console.log($("#USERNAME").val());
                console.log($("#EMAIL").val());
                console.log($("#password").val());
                var user = {
                    Name: $("#USERNAME").val(),
                    Email: $("#EMAIL").val(),
                    Password: $("#password").val()
                    //Wins: 0,
                    //loses: 0
                };
                console.log(user);
                $.post(usersUri, user).done(function () {
                    var userName = document.getElementById("USERNAME");
                    sessionStorage.setItem("USERNAME", userName.value);
                    alert("user added to database and session");
                    window.location.replace("MainWindow.html");
                    location.reload();
                    alert('user added');
                     window.location.replace("MainWindow.html");
                });
            }

        </script>
    </form>
</body>
</html>
